<% entries.each do |p| %>
  <div class="product_thumb">
    <div class="product_image">
      <%= product_link_img(p.thumb, "#{p.title} - #{p.supplier}", p.id) %>
    </div>
    <div class="product_metadata">
      <p class="name"><%= product_link_text("#{p.title} - #{p.supplier}", p.id) %></p>
      <p class="supplier">Available on <%= p.supplier %></p>
      <p class="description"><%= p.description %></p>
      <p>
        <span class="price"><%= sprintf("%.2f", p.price) %> <%= p.currency %></span>
        <% if p.discount.to_f > 0 %>
          <span class="older_price"><%= sprintf("%.2f", p.older_price) %> <%= p.currency %></span>
          <span class="discount"><%= "-#{p.discount}%" %></span>
        <% end %>
      </p>
    </div>
  </div>
<% end %>